.container {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 20px;
  color: #5f5d60;
  width: 800px;
  margin: 0 auto;
}

.msg-wrapper {
  text-align: center;
  background-color: #caf9d9;
  border: solid 0.5px #acaaad;
  border-radius: 20px;
  padding: 20px 30px;
}

.btn-wrapper {
  text-align: center;
  margin-top: 30px;
}

.form-items {
  border-bottom: 2px solid #d3d3d3;
}

.item-pair {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 20px 0;
  display: flex;
}

.item-column {
  display: flex;
  flex-direction: column;
}

.label-item {
 width: 300px;
}

.error {
  color: red;
  font-size: 18px;
}

.label-required {
  color: red;
  border: solid  0.5px red;
  font-size: 16px;
}

input,
textarea {
  border: solid 0.5px #acaaad;;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

input:focus[type="text"], textarea:focus{
  box-shadow: 0 0 5px 1px #00FF99;
  outline: none;
}

.gender {
  padding-right: 50px; 
}

a {
  text-decoration: none;
}

.btn {
  display:inline-block;
  cursor: pointer;
  padding: 10px 100px;
  font-size: 20px;
  color: #5f5d60;
  background-color: #94f8b5;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}